<div class="mb-8">
    <div class="d-flex flex-row mb-4">
        <MudText Typo="Typo.h4">
            <span class="d-flex flex-row align-center">
                <MudIcon Icon="@Icon" Class="me-2"></MudIcon>@Title
            </span>
        </MudText>
        <MudSpacer/>
        <MudButton Variant="Variant.Text" EndIcon="@Icons.TwoTone.ChevronRight">See More</MudButton>
    </div>

    <MudGrid>   
        @Template
    </MudGrid>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = null!;

    [Parameter]
    public string Icon { get; set; } = null!;

    [Parameter] 
    public RenderFragment Template { get; set; } = null!;
}